body,h1,h2,h3,h4,h5,h6, .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-university,.fa-usd, .fa-briefcase {font-size:200px}
.fa-envelope,.fa-github, .fa-twitter, .fa-linkedin {font-size:25px}
          
	    h1 {
    		color: black;
    		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;
	        font-size:60px
		} 
	
	
	          h3 {
                color: gray;
                text-shadow: 2px 1px black;
                font-size:40px;
               }
               
            body {
                color: black;
                font-size:20px;
	          }   
                           
            .responsive {
                width: 25%;
                height: 25%;
               }
              	
	/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}
	
	<!-- Arrow Fade -->
	   .fade {
   		opacity: 1;
   		transition: opacity .25s ease-in-out;
   		-moz-transition: opacity .25s ease-in-out;
   		-webkit-transition: opacity .25s ease-in-out;
   		}
   	   .fade:hover {
      		opacity: 0.5;
      			}
