body,h3,h4,h5,h6, .w3-bar,h1,button {font-family: "Open Sans", sans-serif}
h1 {font-family: 'Codystar', cursive;}
h2 {font-family: 'Press Start 2P', cursive;}
.fa-university,.fa-usd, .fa-briefcase {font-size:200px}
.fa-envelope,.fa-github, .fa-twitter, .fa-linkedin {font-size:25px}
          
	    h1 {
    		color: white;
    		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;
	        font-size:60px
		} 
	
	
	    h2 {
                color: white;
                text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;
                font-size:25px;
               }
               
            body {
                color: white;
                font-size:20px;
	          }   
                           
            .responsive {
                width: 25%;
                height: 25%;
               }
	
	<!-- Arrow Bounce -->
i { color: #3f51b5; 
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
	
/* unvisited link */
a:link {
    color: mediumblue;
}
/* visited link */
a:visited {
    color: chocolate;
}
/* mouse over link */
a:hover {
    color: yellow;
}
/* selected link */
a:active {
    color: white;
}
	
header {
   background-image: url("/img/indigo-gradient.jpg");
   background-size: cover;
   background-attachment:fixed;
}
	
